<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @grade.value %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @grade.comments %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @grade.delivery %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
