<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @student.identifier %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
