<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @group.identifier %>
</p>

<p>
  <strong>Project:</strong>
  <%= @group.project %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
