<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @project.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Public:</strong>
  <%= @project.public %>
</p>

<p>
  <strong>Grades:</strong>
  <%= @project.grades %>
</p>

<p>
  <strong>Open:</strong>
  <%= @project.open %>
</p>

<p>
  <strong>Max elems:</strong>
  <%= @project.max_elems %>
</p>

<p>
  <strong>Min elems:</strong>
  <%= @project.min_elems %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @project.subject %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @project.projects %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
