<h1>Listing instituitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instituitions.each do |instituition| %>
      <tr>
        <td><%= instituition.name %></td>
        <td><%= link_to 'Show', instituition %></td>
        <td><%= link_to 'Edit', edit_instituition_path(instituition) %></td>
        <td><%= link_to 'Destroy', instituition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instituition', new_instituition_path %>
