<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @phase.description %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @phase.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @phase.end_date %>
</p>

<p>
  <strong>Open:</strong>
  <%= @phase.open %>
</p>

<p>
  <strong>Grades:</strong>
  <%= @phase.grades %>
</p>

<p>
  <strong>Grades:</strong>
  <%= @phase.grades %>
</p>

<p>
  <strong>Value:</strong>
  <%= @phase.value %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @phase.statement %>
</p>

<p>
  <strong>Project:</strong>
  <%= @phase.project %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
