<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @member.student %>
</p>

<p>
  <strong>Group:</strong>
  <%= @member.group %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
